/*
  * Colors references

  header bg-color: #99ccff;
  footer bg-color: #162b4d;
  header hover: #162b4d;
  text color: #484848;

  .post-1 {
    background: #F3D250;
  }
  .post-2 {
    background: #8D8741;
  }
  .post-3 {
    background: #659DBD;
  }
  .post-4 {
    background: #DAAD86;
  }

  * Feel free to add new colors if you need it
 */


/* Your styles go here */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-wrapper {
  width: 1440px;
}
.header-content {
  background-color: #99ccff; 
  display: flex;
  align-items: center;
}
h1 {
  font-weight: lighter;
  padding-left: 50px;
}
.span1 {
  color: blue;
}
header a {
  color: #fff;
  text-decoration: none;
}
.menu {
  display: flex;
  list-style-type: none;
  }
.menu li {
  margin-right: 50px;
}
.div-menu {
  margin-left: auto;
}
.s1 {
  background-image: url("../img/section1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  padding: 270px 20px 150px;
  color: white;
}
.s1 h2 {
  margin-bottom: 20px;
}
.postnews {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;  
  margin: 20px auto;
}
.posts {
  margin-right: 10px;
}
.row {  
  display: flex;
  flex-direction: row;
  margin: auto; 
}
.row-rewerse {  
  display: flex;
  flex-direction: row-reverse;
  margin: auto;   
}
.description-post1 {
  background-color: #F3D250;
  width: 50%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.picture-post1 {
  width: 50%;
}
.description-post2 {
  background-color: #8D8741;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
.picture-post2 {
  width: 50%;
}
.description-post3 {
  background-color: #659DBD;
  width: 50%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.picture-post3 {
  width: 50%;
}
.description-post4 {
  background-color: #DAAD86;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  }
.picture-post4 {
  width: 50%;
}
.new1 {
  border: 1px solid gray;
  margin-bottom: 10px; 
}
.new2 {
  border: 1px solid gray;    
}
footer {
  background-color: #162b4d;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  margin: auto;
  padding: 30px 30px 10px;
  color: white;
}
footer a {
  color:white;
  text-decoration: none;
}
.footer-part2 {
  text-align: end;
}
input[type='button'] {
  padding: 5px;
  display: block;
  height: 40px;
  width: 150px;
  line-height: 40px;
  text-align: center;
}
.description-new1, .description-new2 {
  padding: 10px;
}
.button-new {
  margin: 10px;
}
.calendar {
  text-align: center;
  margin: 0px 5px;
}
ul a:hover {
  background-color: #162b4d;
  padding: 10px 0px;
}
input[type='button']:hover {
  border-right: 2px outset white;
  border-bottom: 2px outset white;
  border-top: none;
  border-left: none;
  text-align: center;  
}
.burger-menu {
  display: none;
  padding: 10px;
  cursor: pointer;
}
.burger-menu-line {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
}

@media screen and (max-width: 1280px) {
  .main-wrapper {
    width: 1200px;
  }
  .row {
    display: flex;
    flex-direction: column;
    margin: auto;    
  }
  .row-rewerse {
    display: flex;
    flex-direction: column;
    margin: auto;    
  }  
  .description-post1, .description-post2, .description-post3, .description-post4, .picture-post1, .picture-post2, .picture-post3, .picture-post4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  } 
  .menu {
    display: none;
  }
  .burger-menu {
    display: block;
    padding: 10px 10px 50px;
    align-content: center;
    align-items: center;
    margin: auto;
  }
  .header-content{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }
  .footer p {
    text-align: center;
  }
  .footer-part2, .footer-part1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    width: 700px;
  }
  .postnews {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
